<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>Crossword Solver</title>
    	<link rel="stylesheet" href="crossword.css" />
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" href="css/bootstrap.css" />
	<script src="ng/angular1.3.js"></script>
	<script src="crossword.js"></script>
  </head>

  <body ng-controller="RegexCtrl" id="bg">
	
	<div class="container-fluid">
		<div class="row">
			<h1 class="text-center lobster">Claire's Crossword Solver</h1>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="text-center merriweather col-md-4"><em>Stuck on that final clue in your crossword? Simply type in any letters you have into the boxes below, maintaining any missing letters, and hit the submit button to see your potential answers!</em></div>
			<div class="col-md-4"></div>
		</div>
		<div class="contain-content">
			<div class="clue-container">
				<button type="button" class="btn btn-default" ng-click="removeBox()">-</button>
				<clue-box ng-repeat="char in clueLetters"></clue-box>
				<button type="button" class="btn btn-default" ng-click="addBox()">+</button>
			</div>
			<p>
				

			</p>

			<p><button class="btn btn-warning" ng-click="allInOne()">Submit</button></p>

			<div class="row" ng-show="matchBox.length">Results
				<div class="matchBox col-md-2 col-centered">
					<div ng-repeat="match in matchBox">{{match}}</div>
				</div>
				<button type="button" class="btn btn-default" ng-click="restart()">Restart</button>
			</div>
		</div>
	</div>
    

  </body>

</html>

